
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

nbproject/private/private.properties
nbproject/private/private.xml

build/classes/.netbeans_automatic_build
build/built-jar.properties
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/ai/AIClient.class
build/classes/ai/MinMax.class
build/classes/ai/MinMaxTree.class
build/classes/client/BadClient.class
build/classes/client/HumanClient.class
build/classes/client/MinMaxTree.class
build/classes/client/Node.class
build/classes/client/RandomClient.class
build/classes/server/KalahaServer$ClientThread.class
dist/Kalaha.jar
dist/README.TXT
build/built-jar.properties
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/ai/AIClient.class
build/classes/ai/MinMax.class
build/classes/ai/MinMaxTree.class
build/classes/client/BadClient.class
build/classes/client/HumanClient.class
build/classes/client/MinMaxTree.class
build/classes/client/Node.class
build/classes/client/RandomClient.class
build/classes/server/KalahaServer$ClientThread.class
dist/Kalaha.jar
dist/README.TXT

build/classes/ai/AIClient.class
build/classes/ai/MinMax.class
